.m-current-user {
  position:absolute;
  right:20px;
  top:18px;
  font-size:.8em;
}

.m-current-user--photo {
  display:inline-block;
  max-width:80px;
  border-radius:100%;
}

.m-current-user--id {
  display: inline-block;
  padding-left: 20px;
  text-align: right;
}

@media screen and (max-width:767px) {
  .m-current-user {
    display:block;
    position:static;
    margin:10px auto 0;
  }
  .m-current-user--photo {display:none;}
  .m-current-user--id {padding:0 0 10px 0;text-align:center;}
}