.m-tweets-container {
  margin-top:20px;
  border:1px solid #ccc;
  border-top:0px;
  border-radius: 5px;
}
.m-tweets-container--content {
  display:block;
  border:1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.m-tweets-container--toggler {
  position:relative;
  padding:16px;
  background-color:#48AAE6;
  color:#fff;
  font-size:1.3em;
  font-weight:bold;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  cursor:pointer;
  cursor:hand;
  -webkit-transition:opacity 150ms ease-in, color 200ms ease-in-out;
  transition:opacity 150ms ease-in, color 200ms ease-in-out;
}

.m-tweets-container--preview {
  padding:10px;
  text-align:left;
  border-radius:0 0 5px 5px;
  overflow:hidden;
}

.m-tweets-container--preview:after {
  display:block;
  content:"...";
  font-weight:bold;
  padding:10px;
  margin:10px -10px -10px;
  color:#222;
  background:#ccc;
  text-align:center;

}

.m-btn--delete,
.m-btn--refresh {
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}
.m-btn--delete {left:20px;}
.m-btn--refresh {right:20px;}

.is-open .m-tweets-container--toggler {
  color:#ddd;
  opacity:0.8;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0);
}

.is-closed .m-tweets-container--content,
.is-open .m-tweets-container--preview {display:none;}